<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор шаблона грамоты</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Выберите шаблон грамоты</h1>
    </div>
    <div class="templates">
        <div class="template1">
            <a href="/template1" class="template">
                <img src="../static/images/template1.jpg" alt="Шаблон 1">
            </a>
        </div>
        <div class="template2">
            <a href="template2.html" class="template">
                <img src="../static/images/template2.jpg" alt="Шаблон 2">
            </a>
        </div>
        <div class="template3">
            <a href="template3.html" class="template">
                <img src="../static/images/template3.jpg" alt="Шаблон 3">
            </a>
        </div>
        <div class="your_temp">
            <a href="/your_temp" class="template">
                <img src="../static/images/your_temp.jpg" alt="Свой шаблон">
            </a>
        </div>
    </div>
</body>
</html>