<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/your_temp.css') }}">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
</head>
<body>
    <h1>Редактор шаблонов</h1>
    <div id="editor-container">
        <div class="controls-row">
            <div class="d-flex align-items-center mb-3">
                <div class="input-group" style="width: 350px;">
                    <input type="file" class="form-control" id="templateUpload" accept="image/*">
                </div>
                <button class="btn btn-primary ms-2" id="addTextBlock" type="button">Добавить текстовый блок</button>
                <button class="btn btn-success ms-2" id="saveTemplate" type="button">Сохранить</button>
                <form id="uploadCsvForm" enctype="multipart/form-data" class="csv-upload-form ms-2">
                    <div class="input-group">
                        <label for="csvFile" class="input-group-text">Загрузить CSV с тегами:</label>
                        <input type="file" class="form-control" id="csvFile" name="file" accept=".csv" />
                    </div>
                </form>
            </div>

        </div>
        <div class="home">
            <a href="../" class="btn btn-secondary">Вернуться на главную страницу</a>
        </div>
        <div id="csvUploadStatus"></div>
        <div id="templateArea">
            <canvas id="templateCanvas"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/your_temp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/text_block.js') }}"></script>
</body>
</html>